/* IMPOSTAZIONI GENERALI */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
}

/* HEADER */
header{
    text-align: center;
    background-color: #00a0c6 ;
    text-transform: uppercase;
    border-bottom:4px solid #317691 ;
    color: #fff;
    line-height: 2em;
    font-size: 1.5em;
    
}

header span {
    background-color: #ffffff;
    color:#00a0c6;
}

header h2 {
    color: #000000;
    font-weight: lighter;
    font-size: 0.7em;
}

header h2::first-letter{
    font-size:larger;
}

/* MAIN */

main{
    padding: 25px;
    line-height: 1.5em ;
}


/* ELEMENTI NEL MAIN */

section h2{
    text-transform: uppercase;
    text-align: center;
    color: #317691 ;
    line-height: 2em;
    font-size: larger;
}

figure{
    text-align: center;
}

figure img{
    border: 2px solid #D3D3D3 ;
    padding: 4px;

}

figcaption{
    line-height: 2em;
    font-size: 0.8em;
    margin-bottom: 1em;
}

b {
    font-weight: bold;
    
}

address{
    margin-bottom: 1.5em;
}

a:link, a:visited {
    font-weight: bold;
    color: blue;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
    color: red;
    text-decoration: underline;
}

blockquote{

    font-style: italic;
    background-color: lightgray;
    text-align: center;
    padding: 0.80em;
    border-radius: 15px;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
   
}

strong{
    color: #027794;
}


hr {
    border: 1px dashed lightgrey;
}

section h3{
    font-weight: bold;
    line-height: 2em;
}

mark{
    background-color: #317691;
    color: #fff;
}

ul{
    margin-left: 2em;
}

dd{
    text-indent: 2em;
}

/* FOOTER */

footer{
    line-height:  1.5em;
    background-color: #353535;
    border-top: 4px solid black;
    text-align: center;
    color: white;
    font-size: 1rem;
}

kbd{
    color: yellow;
    font-style: italic;
}

footer a {
    color:red;
}

footer p{
    margin-bottom: 1em;
}

small{
    color: lightgray;
}